      {% extends "base.html" %}
  
      {% block content %}
      {% load crispy_forms_tags %}
      <h1 class='text-center'>{{ type }} page</h1>
      <div style="width: 50%; margin: auto;">
      <form action="" method="POST">
          {% csrf_token %}
       <!-- {{form | crispy}}-->   
          {% for field in form %}
              <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% for error in field.errors %}
                      <p class="text-danger">{{ error }}</p>
                  {% endfor %}
              </div>
          {% endfor %}
          <button type="submit" class="btn btn-warning">Submit</button>
      </form>
      </div>
      {% endblock %}