{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class='text-center m-5'>Musician List</h1>

    <table class="table table-bordered">
        <thead class="text-center table-dark">
           <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Instrument Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for musician in musicians %}
            <tr>
                <td>{{ musician.id }}</td>
                <td><a href="{% url 'musician_edit' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
                <td>{{ musician.email }}</td>
                <td>{{ musician.instrument_type }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'musician_edit' musician.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'musician_delete' musician.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
