{% extends "base.html" %} 

{% block content %}
{% load static %}



<div class="" style="padding-bottom: 200px;">
  <section class="">
    <h5 class="p-4"></h5>
    
    <div class="mx-auto  bg-white py-2  mb-8 flex flex-wrap justify-center">
      <div class="m-2">
        <div class="box text-center border border-gray-400 rounded-md py-2 px-4 hover:shadow-md">
          <a href="{% url 'home' %}" class="text-decoration-none text-10xl text-gray-800" style="font-size: 22px;"><h3>All</h3></a>
        </div>
      </div>
      {% for category in categories %}
        <div class="m-2">
          <div class="box text-center border border-gray-400 rounded-md py-2 px-4 hover:shadow-md">
            <a href="{% url 'category_wise_view' category.slug %}" class="text-decoration-none text-10xl text-gray-800" style="font-size: 22px;"><h3>{{ category.name }}</h3></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <hr />
  
   <style>
     .card {
       background: white;
      padding: 1rem; 
      margin: 0.5rem; 
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 1px 4px 10px;
    }
  
    .card img {
      max-width: 250px;
      width: 100%; 
      height: auto; 
      max-height: 220px; 
      object-fit: cover; 
      margin-bottom: 1rem; 
    }
  </style>
  
  <section class="p-5  bg-green-50 md:p-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-4 items-start" style="padding-top: 10px;">
    {% for book in books %}
      <section class="card bg-purple-50 text-center transform duration-500 hover:-translate-y-2 cursor-pointer">
            {% if book.image %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}" style="height: 250px; width: auto; max-width: 100%; object-fit: contain;" />
            {% else %}
              <img src="{% static 'image2.png' %}" alt="Placeholder Image" />
            {% endif %}
        <div class="space-x-1 flex justify-center mt-4">
          {% for _ in "12345" %}
          <svg class="w-4 h-4 mx-px fill-current text-{{ book.rating_color }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
            <path d="M6.43 12l-2.36 1.64a1 1 0 0 1-1.53-1.11l.83-2.75a1 1 0 0 0-.35-1.09L.73 6.96a1 1 0 0 1 .59-1.8l2.87-.06a1 1 0 0 0 .92-.67l.95-2.71a1 1 0 0 1 1.88 0l.95 2.71c.13.4.5.66.92.67l2.87.06a1 1 0 0 1 .59 1.8l-2.3 1.73a1 1 0 0 0-.34 1.09l.83 2.75a1 1 0 0 1-1.53 1.1L7.57 12a1 1 0 0 0-1.14 0z"></path>
          </svg>
          {% endfor %}
        </div>
        <a href="{% url 'Book_detail' book.id %}" class="text-decoration-none text-gray-800"><h4 class="text-3xl my-5">{{ book.title }}</h4> </a>
        <p class="card-text">{{ book.description|truncatechars:70 }}</p>
        <p class="card-text">Available: {{ book.quantity }}</p>
        <h2 class="font-semibold mb-4">${{ book.price }}</h2>
        <a href="{% url 'borrow_book' book.id %}">
          <button class="p-2 px-6 bg-purple-500 text-white rounded-md hover:bg-purple-600">Borrow</button>
        </a>
      </section>
    {% endfor %}
  </section>
  
  
{% endblock %} 

