asgiref
asttokens
backcall
certifi
colorama
comm
crispy-bootstrap5
crispy-tailwind
debugpy
decorator
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
executing
filelock
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
MouseInfo
mss
mysql-connector-python
nest-asyncio
numpy
opencv-python
packaging
parso
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
psutil
psycopg2
pure-eval
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
PyMySQL
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pyzmq
six
sqlparse
stack-data
tornado
traitlets
typing_extensions
tzdata
virtualenv
wcwidth
psycopg2-binary
dj-database-url