{% extends 'base.html' %}
{% block content %}
  <style>

    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link-item {
      border: 1px solid #343a40; /* Dark border color */
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
      width: 350; /* Adjust width  */
      text-align: center;
      margin: 10px;
      padding: 20px;
      transition: all 0.3s ease; /* Smooth transition */
    }
    .link-item:hover {
      background-color: #f8f9fa; 
      box-shadow: 4px 8px 8px  blueviolet;
    }
    .link-item h3 {
      margin: 0;
    }
    .link-item a {
      text-decoration: none;
      color: #343a40; 
    }
  </style>
  <div class="link-container pt-5">
    <div class="link-item">
      <a href="{% url 'purchase_list' %}">
        <h3>Purchase List</h3>
      </a>
    </div>
    <div class="link-item">
      <a href="{% url 'update_profile' %}">
        <h3>Update Profile</h3>
      </a>
    </div>
    <div class="link-item">
      <a href="{% url 'password_update' %}">
        <h3>Password Change</h3>
      </a>
    </div>
  </div>
{% endblock %}
