{% load static %}
<div class="container">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-6">
      <div class="text-center">
        <h1
          class="mb-5"
          style="
            font-family: 'Arial', sans-serif;
            font-weight: bold;
          "
        >
          Turn Your Dream Car into Reality - Drive It Home Today
        </h1>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{% static 'coverbg.png' %}" alt="" class="img-fluid" />
    </div>
  </div>
</div>
