{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center">Create Musician</h1>
<div style = "width:50%; margin:auto">
    <form actions="" method="POST">
    {% csrf_token %}
    <!-- {{form | crispy}}--> 
    {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            {{field}}
            {% for er in field.errors %}
                <p class="text-danger">{{er}}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="pt-5">
        <button type="submit" class="btn btn-warning">Submit</button>    
    </div>
    </form>
</div>
{% endblock %}